body {
  margin: 0 auto;
  background-color: #00a0b0;
  width: 90%;
}

header {
  position: relative;
  background-color: #eb6841;
  border: 2px solid #edc951;
  border-radius: 25px;
  text-align: center;
  margin-top: 50px;
  margin-right: 75px;
  margin-left: 75px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 68px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: #edc951;;
  margin-top: 0;
}

ul {
  list-style-type: none;
  background-color: #eb6841;
  border: 2px solid #edc951;
  border-radius: 25px;
  margin-top: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  text-align: center;
}

li {
  position: relative;
  display: inline-block;
  margin-right: 50px;
}

img {
  border: 2px solid #00a0b0;
  border-radius: 50%;
}

.results {
  position: relative;
  margin-left: 430px;
}

button {
  background-color: #eb6841;
  border: 2px solid #edc951;
  border-radius: 25px;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  color: #ffffff;
}
