body {
  margin: 0 auto;
  background-color: #00a0b0;
  width: 900px;
}

header {
  position: relative;
  background-color: #eb6841;
  border: 2px solid #edc951;
  color: #4f372d;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 0px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-top: 0;
}

.content {
  position: relative;
  display: inline-block;
}

#images {
  position: relative;
  display: inline-block;
}

ul {
  list-style-type: none;
}
