body {
  margin: 0 auto;
  background-color: #00a0b0;
  width: 90%;
}

header {
  position: relative;
  background-color: #eb6841;
  border: 2px solid #edc951;
  text-align: center;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #edc951;
  margin-top: 10px;
  margin-bottom: 0px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin-top: 0;
}

ul {
  list-style-type: none;
  background-color: #eb6841;
  border: 2px solid #edc951;
  margin-top: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  text-align: center;
}

li {
  position: relative;
  display: inline-block;
  margin-right: 50px;
}
